
body {
	margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 10s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

* {
  box-sizing: border-box;
}
.title{
  font-size: 45px;
}

.txt{
  font-size: 30px;
}
.stext{
  font-size: 25px;
}
.board_text{
  font-size: 40px;
  text-align: center;
}
.block{
  width: 70%;
  height: 600px;
  margin: 50px auto;
  padding-top: 75px;

  text-align: center;
  color: #000000;
}
.chart{
  width: 70%;
  height: 600px;
  margin: 50px auto;
  padding-top: 75px;
  text-align: center;
  color: #FFF;
}
.small_block{
  width: 70%;
  height: 250px;
  margin: 50px auto;
  padding-top: 50px;

  text-align: center;
  color: #000000;
}
.mediem_block{
  width: 70%;
  height: 400px;
  margin: 50px auto;
  padding-top: 75px;
  
  text-align: center;
  color: #000000;
}
.board{
  width: 40%;
  height: 290px;
  margin: 50px auto;
  padding-top: 75px;
  background: #FF7575;
  text-align: center;
  color: #FFF;
}
.button{
  align :center;
  text-align: center;
}

.prize_name{
  width: 80%;
  height: 150px;
  margin: 100px auto;
  padding-top: 23px;
  background: #F0F5B3;
  text-align: center;
  color: #000000;
}

.prize_content{
  width: 40%;
  height: 200px;
  margin: 200px auto;
  padding-top: 40px;
  background: #FEE2E2;
  text-align: center;
  color: #000000;

}
